
.cart{

    display:flex;
    flex-direction:column;
    align-items: center;
}
.cart-item{
    display:flex;
    width:500px;
    height: 300px;

    background-color:white;
    border-radius: 15px;
    margin-bottom: 20px;
    align-items: center;
    color:black;
    box-shadow: 3px 3px 20px 4px #ad9f9f;;


}

.cartImageContainer img{

    width: 200px;
    height: 200px;
    margin : 50px 20px;
    border-radius:20px;
}
.cartDataContainer{

    margin-left:10px;
}
 .quantity{
    height:40px;
    width:30px;
}
/* .updateButtons button{
    height:30px;
    align-content: center;
    margin-top:5px;
}  */

.updateButtons input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  .total{

    align-content: center;
    font-size: 28px;
    font-weight: bold;
    margin-left:136px;

  }
  .shopping,.CheckOutButton{
    margin:0 12px;
    border:1px solid rgb(237, 126, 53);
    width:200px;
    color:rgb(242, 235, 227);
    background-color: rgb(34, 248, 145);
    

  }

  .shopping:hover,.CheckOutButton:hover{
    margin:0 12px;
    border:1px solid rgb(142, 243, 20);
    width:200px;
    color:rgb(76, 76, 233);

  }
  
